<div class="container mt-4">
  <h1 class="mb-4">Search Results</h1>
  <% if @cities.any? %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @cities.each do |city| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= city.name %>, <%= city.state.name %></h5>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No results found.</p>
  <% end %>
  
  <div class="text-center mt-4">
    <%= link_to 'Back to Main Page', root_path, class: 'btn btn-secondary' %>
  </div>
</div>